.wrapper {
    --search-border-radius: 92px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: var(--default-layout-width);
    padding: var(--default-layout-horizontal-spacer);
}

.logo-link {
    display: flex;
}

.upload-btn {
    color: var(--text-color);
    border-color: #e3e3e4;

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
        border-color: #e3e3e4;
    }
}

.plus-icon {
    font-size: 2rem;
    margin-right: 8px;
}

.download-btn {
    margin: 0 12px 0 24px;
    font-size: 2rem;
}


// Actions
.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn {
    position: relative;
    background-color: transparent;
    color: var(--text-color);
    padding: 24px;
    font-size: 2rem;
    cursor: pointer;

    + .action-btn {
        margin-left: -24px;
    }

}

.message-icon {
    position: relative;
}

.message-badge {
    position: absolute;
    right: 20px;
    top: 18px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 1.4rem;
}

.more-btn {
    font-size: 2rem;
    margin-left: 20px;
    padding: 4px;
    background-color: transparent;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    border-radius: 50%;
    cursor: pointer;
}
